.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.content_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}
.content_left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon_clr {
  color: blue;
  font-size: xx-large;
}
